.u-section-1 .u-sheet-1 {
  min-height: 184px;
}.u-section-2 .u-sheet-1 {
  min-height: 985px;
}

.u-section-2 .u-image-1 {
  width: 118px;
  height: 158px;
  margin: -12px auto 0 498px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 479px;
}

.u-section-2 .u-image-2 {
  width: 160px;
  height: 160px;
  margin: 58px auto 0 150px;
}

.u-section-2 .u-image-3 {
  width: 160px;
  height: 160px;
  margin: -160px auto 0 477px;
}

.u-section-2 .u-image-4 {
  width: 160px;
  height: 160px;
  margin: -160px auto 0 824px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 479px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 156px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 829px;
}

.u-section-2 .u-image-5 {
  width: 160px;
  height: 160px;
  margin: 90px auto 0 156px;
}

.u-section-2 .u-image-6 {
  width: 160px;
  height: 160px;
  margin: -160px auto 0 831px;
}

.u-section-2 .u-image-7 {
  width: 160px;
  height: 160px;
  margin: -160px auto 0 477px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0 156px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 479px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 60px 829px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 158px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 279px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 0;
    margin-left: 780px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 279px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 629px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 780px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 279px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 629px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 59px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 560px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 59px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 409px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 560px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 59px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: 422px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 380px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 380px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 229px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 380px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 380px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 229px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 222px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 180px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 180px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 29px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 180px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 180px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 29px;
  }
}